<!DOCTYPE html>
   <head>
      <title>{{ host['hostname'] }}</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body>
        <script>
            function changeState(number, fase) {
                var element = document.getElementById('fase_' + number + '_' + fase)
	            element.setAttribute('class', 'color_' + element.value)
            }
        </script>
		<h1>Control Manual Raspberry</h1>		
       <table style="width:100%;">
           <tr>
               <td style="vertical-align:top; width: 350px">
                   <div class="card">
		                <h2> Estado Actual </h2>
		                <h4> Hostname ==>  {{ host['hostname'] }}</h4>
		                <h4> IP ==>  {{ host['ip'] }}</h4>
                        <table style="margin: 28px 0;">
                            {% if state is none %}
                            <tr>
                                <td colspan="2">
                                    <div style="color: #F44336">
                                        Debe de inicializar desde el gestor
                                        <a href="/" class="button blue">ACTUALIZAR</a>
                                    </div>
                                </td>
                            </tr>                            
                            {% endif %}
                            {% if state is not none %}
                            <tr>
                                <td><a href="/manual/blink" class="button ambar" {% if state['working'] %} disabled {% endif %}>INTERMITENTE</a></td>
                                <td><a href="/manual/red" class="button red" {% if state['working'] %} disabled {% endif %}>EMERGENCIA</a></td>
                            </tr>
                            <tr>
                                <td><a href="/manual/plan" class="button blue" {% if state['working'] %} disabled {% endif %}>EJECUTAR PLAN</a></td>
                                <td><a href="/manual/off" class="button grey">APAGAR</a></td>
                            </tr>                      
                            {% endif %}
                        </table>

		                <h4> HORARIO ==>  {{ state['startHour'] }} - {{ state['endHour'] }}</h4>
		                <h4> EVENTO ==>  {{ state['action'] }}</h4>
		                <h4> ESTADO ==>  {{ state['state'] }}</h4>
		                <!--h4> LED ==>  {{ state['led'] }}</h4-->
                        {% if state['working'] %}
                        <h4 style="color:#27c327"> EN FUNCIONAMIENTO</h4>
                        {% endif %}
                   </div>
               </td>
               <td style="vertical-align:top;">            
                    <div class="card">
                        <form method="post">
		                <h2> Planificaci&oacute;n </h2>
                            <table class="datatable">
                                <thead>
                                    <tr>
                                        <th></th>
                                        {% for f in plan['fases'] %}
                                        <th>FASE {{ f }}</th>
                                        {% endfor %}
                                        <th>DURACI&Oacute;N</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for inter in plan['intervals'] %}
                                    <tr>
                                        <td>{{ inter.number }}</td>
                                        {% for fase in plan['fases'] %}                                                                        
                                        <td>
                                            {% if inter['fase' + fase|string] is not none %}
                                            <select class="color_{{ inter['fase' + fase|string] }}" id="fase_{{ inter.number }}_{{ fase|string }}" name="fase_{{ inter.number }}_{{ fase|string }}" onchange="changeState({{ inter.number }}, {{ fase }})">
                                                <option value="V" {% if inter['fase' + fase|string] == 'V' %} selected {% endif %}>Verde</option>
                                                <option value="A" {% if inter['fase' + fase|string] == 'A' %} selected {% endif %}>Ambar</option>
                                                <option value="R" {% if inter['fase' + fase|string] == 'R' %} selected {% endif %}>Rojo</option>
                                                <option value="RA" {% if inter['fase' + fase|string] == 'RA' %} selected {% endif %}>Rojo + Ambar</option>
                                                <option value="VA" {% if inter['fase' + fase|string] == 'VA' %} selected {% endif %}>Verde + Ambar</option>
                                                <option value="IN" {% if inter['fase' + fase|string] == 'IN' %} selected {% endif %}>Intermintente</option>
                                                <option value="OFF" {% if inter['fase' + fase|string] == 'OFF' %} selected {% endif %}>Apagado</option>
                                            </select>
                                            {% endif %}
                                        </td>
                                        {% endfor %}
                                        <td>
                                            <input type="text" id="duration_{{ inter.number }}" name="duration_{{ inter.number }}" required value="{{inter.duration}}">
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table><br />                            
                            {% if plan is not none %}
                            <button type="submit" class="button green">GUARDAR PLAN</button>
                            {% endif %}
                        </form>
                    </div>
               </td>
           </tr>
       </table>		
   </body>
</html>